<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
            http://www.springframework.org/schema/tx
            http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<bean id="auth" class="com.yxtec.pmiside.domain.email.AuthenticatorImpl" scope="singleton">
		<property name="username" value="pmiside@163.com" />
		<property name="password" value="pmiSide163" />
	</bean>

	<bean id="mailSupporter" class="com.yxtec.pmiside.domain.email.MailSupporter" scope="singleton">
		<property name="server" value="smtp.163.com"/>
		<property name="needAuth" value="true"/>
		<property name="username" value="pmiside@163.com" />
		<property name="password" value="pmiSide163" />
		<property name="showName" value="pmiside" />
		<property name="auth" ref="auth" />
	</bean>
	
	<bean id="mail" class="com.yxtec.pmiside.domain.email.Mail" scope="prototype">
		<property name="from" value="pmiside@163.com"/>
		<property name="to" value="jerrielau@qq.com"/>
		<property name="cc" value="jerrietm@gmail.com"/>
		<property name="bcc" value="421185550@qq.com"/>
		<property name="subject" value="邮件测试"/>
		<property name="content" value="测试邮件发送内容  \n\n ENG @ #"/>
		<property name="attachments">
			<list>
				<value>D:/gitrepo/pmiside/src/test/resources/applicationContext_email.xml</value>
			</list>
		</property>
	</bean>
</beans>