# Ignore all bin directories
bin

# Ignore all files ending with~
*~

# Ignore the target directory
target/

# Ignore eclipse setting
.settings/

# Ignore eclipse .classpath
.classpath

# Ignore eclipse .project
.project


*.class

# Package Files #
*.jar
*.war
*.ear
